assertpy==1.1+computecanada
braceexpand==0.1.7+computecanada
certifi==2022.12.7+computecanada
charset_normalizer==2.1.1+computecanada
contourpy==1.0.5+computecanada
cupy==11.2.0+computecanada
cycler==0.11.0+computecanada
docopt==0.6.2+computecanada
fastargs==1.2.0+computecanada
fastrlock==0.8+computecanada
ffcv==0.0.3+computecanada
fonttools==4.38.0+computecanada
idna==3.4+computecanada
imgcat==0.5.0+computecanada
joblib==1.2.0+computecanada
kiwisolver==1.4.4+computecanada
llvmlite==0.39.1+computecanada
matplotlib==3.6.1+computecanada
numba==0.56.3+computecanada
numpy==1.23.0+computecanada
opencv_python_headless==4.6.0.66+computecanada
packaging==23.0
pandas==1.5.0+computecanada
Pillow==9.3.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
pipreqs==0.4.11
psutil==5.9.1+computecanada
pyparsing==3.0.9+computecanada
python-dateutil==2.8.2+computecanada
pytorch_pfn_extras==0.5.8+computecanada
pytz==2022.7.1+computecanada
PyYAML==6.0+computecanada
requests==2.28.1+computecanada
scikit_learn==1.1.2+computecanada
scipy==1.9.3+computecanada
six==1.16.0+computecanada
sklearn==0.0+computecanada
terminaltables==3.1.10+computecanada
threadpoolctl==3.1.0+computecanada
torch==1.13.1+computecanada
torchmetrics==0.10.3
torchvision==0.14.1+computecanada
tqdm==4.64.1+computecanada
typing_extensions==4.4.0+computecanada
urllib3==1.26.13+computecanada
webdataset==0.2.31
yarg==0.1.9
